<% include ./partials/header.ejs  %>

    <section>

        <div class="row">
            <div class="jumbotron col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h1>
                       Your order is confirmed
                    </h1>

              
                   <p> Your order for: Rich Freeman has been received</p>
                  

                    <h2>Care and Handling of Your Professor</h2>
                    <ul class="list-unstyled">
                        <li>Come To Class On Time</li>
                        <li>Submit Your Assignments on Time</li>
                        <li>Laugh at His Jokes</li>
                    </ul>
                   
                </div>
                <!-- / text-center -->

            </div>
            <!-- / jumbotron -->
        </div>
        <!-- / row -->

    </section>


    <% include ./partials/footer.ejs %>